/* 
Welcome style start
*/

.welcome {
    padding: 60px 10px;
    color: #fff;
    // .welcome__wrap
    background: #000;

    &__wrap {
        display: flex;
        justify-content: space-between;
        background-image: url(assets/img/welcome-back.jpg);
        background-position: right center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    // .welcome__textbox

    &__textbox {
        max-width: 890px;
        text-align: left;
        width: 70%;
        margin-right: 100px;
        position: relative;

        h1 {
            font-family: 'Ptsans-black', sans-serif;
            font-size: 60px;
            margin: 0;
            margin-bottom: 20px;
            span {
                color: #9c0d0f;
            }
        }
        p {
            margin: 0;
            padding-left: 50px;
            font-family: 'Ptsans-reg', sans-serif;
            color: rgba(255, 255, 255, 0.7);
            max-width: 750px;
            font-size: 25px;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 113px; 
                height: 92px;
                background-image: url(assets/img/icons/Group10.png);
                bottom: -30px;
                left: 5px;
               background-position: center;
            }
        }
    }

    // .welcome__image

    &__image {
        width: 300px;
        height: 300px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            background-image: url(assets/img/laptopimg.png);
            background-size: contain;
            background-repeat: no-repeat;
            bottom: 0;
            width: 320px;
            height: 290px;
            left: -100px;
            bottom: -100px;
        }
    }
}

@media (max-width: 1024px) {
    .welcome {
        &__textbox {
            p {
                font-size: 18px;
            }
        }
        &__image {
            &::before {
                width: 250px;
                height: 220px;                
            }
        }
    }
}

@media (max-width: 768px) {
    .welcome {
        &__wrap {
            flex-direction: column;
            background-image: none;
        }
        &__image{ 
            display: none;
        }
        &__textbox {
            margin-right: 0;
            width: 100%;
            h1 {
                font-size: 36px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 425px) {
    .welcome {
        &__wrap {

        }
        &__image{ 

        }
        &__textbox {
            p {
                padding-left: 40px;
            }
            
        }
    }
}

/* 
Welcome style end
*/